.DS_Store
__pycache__
/TEMP
/logs/Amr
*.pyd
hubert_base.pt
.venv
logs/Nada/total_fea.npy
logs/Nada/G_9800.pth
logs/Nada/D_9800.pth
logs/Nada/added_IVF909_Flat_nprobe_1_Nada_v2.index
logs/Noha/added_IVF909_Flat_nprobe_1_Noha_v2.index
logs/Noha/total_fea.npy
logs/Hafeez/added_IVF757_Flat_nprobe_1_Hafeez_v2.index
logs/Aymoon/added_IVF634_Flat_nprobe_1_Aymoon_v2.index
